[Gmail]
username=
password=
sender=mailmaster@cbrc.jp
[Idiographica]
getUrl=http://rtools.cbrc.jp/idiographica/
postUrl=http://rtools.cbrc.jp/idiographica/accept_request.py
format=pdf
background=none
gradation=1
chromosome=all
orientation=h
shading=off
size=A4
species=mm10
font=1
mail_to=
chrom_list=None
strand=off
description=None
annotation=off
logscale=off
